section.project
  .container
    figure.big-img__project
      img(src=images.project.main, alt="big image about project")
    
    .info__project
      .item__info__project.row
        .col-12.col-md-6
          figure.img__item__info
            img(src=images.project.img1, alt="big image about project")
        .col-12.col-md-6.box--center
          p.text__item__info orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu 
        
      .item__info__project.row
        .col-12.col-md-6
          figure.img__item__info
            img(src=images.project.img2, alt="big image about project")
        .col-12.col-md-6.box--center
          p.text__item__info orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu 
