@use "../../vars";
@use "../../placeholder";

.portfolio{
  padding-left: .5em;
  padding-right: .5em;
  .items__portfolio{
    padding: 1em;
    .image__item__portfolio{
      width: 100%;
      height: 250px;
      background-color: vars.$section-title-color;
      img{
        @extend %responsive-img;
      }
    }
    // ---- End image__item__portfolio

    .title__item__portfolio{
      padding: .5em 1em .25em;
    }
    // ---- End title__item__portfolio
    .desc__item__portfolio{
      padding-left: 1em;
      padding-right: 1em;
    }
    // ---- End desc__item__portfolio
  } 
  //  ---- End items__portfolio
}
// ---- End portfolio