include ../../_vars.pug

section#about.section.about
  .container 

    //- header
    -sectionHeader[0]= "about"
    -sectionHeader[1]= "Less is more work"
    include ./_headerSection

    //- content
    .row
      //- text
      .col-12.col-lg-6
        .content__about 
          
          p.desc__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            |  sed do eiusmod tempor incididunt ut labore et dolore 
            |  magna aliqua. Ut enim ad minim veniam, quis nostrud 
            |  exercitation ullamco laboris nisi ut aliqui
          
          p.sub-desc__about Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            | incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
            |  exercitation ullamco laboris nisi ut aliqu
          
      //- image
      .col-4.d-md-up
        figure.image__about
          img(src=images.about, alt="the image about services section")

