include ../../_vars.pug

header#home.header 
  section.body__header.text--center
    h1.title__header hello there! 
    p.subtitle__header We are Leon - Super Creative &amp; Minimal 
      br
      | Agency Web Template