
// white
$white:#fff !default;

// black 
$black:#000 !default;
$black-800: #222 !default;

// gray 
$gray:#696969 !default;
$gray-d:#A9A9A9!default;
$gray-l:#D3D3D3!default;

// green
$green:#198754 !default;

// red
$red: #dc3545 !default;