-var usersData = [{name:" أحمد جمال",img:"./assets/images/user1.png"},{name:" علي علاء",img:"./assets/images/user2.png"},{name:"سارة أحمد",img:"./assets/images/user3.png"}]

section#contact.contact.section
  .container
    .contact__box.flex
      .contact__text 
        h2 خدمة العملاء
        p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل لنص
      button.btn.btn--primary تواصل معنا  
        


