header.main__header.section
  .container
    .row.justify-between
      .col-5
        figure.main__header__figure 
          img(src="./assets/images/dish.png", alt="image for dish")

      .col-6.col.flex  
        .main__header__summary
          h2.summary__title اشهى الوجبات
          h3.summary__subtitle.text--active طعام صحي
          p هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل لنص
          button.btn.btn--primary قائمة الطعام

