footer#contactMe.footer.section--colorful
  //- top footer | contact
  .container 
    
    //- header  //- header
    -sectionHeader[0]= "contact"
    -sectionHeader[1]= "We are born to create"
    include ./index/_headerSection

    //- content
    .content__contact
      h2.heading__contact Feel free to drop us a line at: 
      h3.email__contact leonagency@mail.com
      .social-media__contact 
        p Find us on social networks:
        .icons__social-media
          i.fa-twitter
          i.fa-behance
          i.fa-codepen

  //-  bottom footer
  .bottom__footer.text--center
    a.mark__bottom__footer(href="https://www.graphberry.com/item/leon-psd-agency-template") Leon 
    | &copy; 2022 -
    | by 
    a.mark__bottom__footer(href="https://www.linkedin.com/in/aiham-badran/") Aiham Badran 

